.card-deck{ 

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
    
}

.card-deck .singleCard{
    padding: 10px;
    margin: 5px;
    border: solid 2px #33CA7F;
    background-color: #ECE4B7;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-bottom: 10px;
}

