:root{
    --colore--principale: blue;

}

div{
    color: var(--colore--principale);
}

.scatolina{
    border: solid 10px red ;
    padding:  30%  ;
    margin:  10%  ;
}

#pallone{
    border:  solid 50px orange;
    margin: 20px;
}

#fisso{
    position: fixed;
}

.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-direction: row;
    display: flex;
    align-items: center;
}

#immaginePallone{
    padding: 20px;
    border: solid 20px white;
    margin: 40px;
}


/*MEDIA QUERIES*/

@media (max-width:600px) {
    
    .nav{
        flex-direction: column;
        border: solid 5px yellow;
    }

}